---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Vision from '../components/Vision.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main class="flex-grow w-full relative">
    <Hero />
    <Vision />
    <CTA />
  </main>
  <Footer />
</Layout>
